@import '~@/common/style/colors';

@keyframes spin {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

.app-loader {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $middle-gray;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 600ms;

  &.disappeared {
    opacity: 0;
    pointer-events: none;
  }

  .spinner {
    margin-bottom: 64px;
    width: 100px;
    height: 100px;
    border: solid 16px $nice-orange;
    border-top-color: $dark-light;
    border-radius: 50%;
    animation: spin 1s infinite linear;
  }
}
