$deep-dark: #202123;
$button-blue: #7284e4;
$border-blue: #b8c1f1;
$nice-orange: #ff9900;
$dark-light: #707276;
$nice-green: #55bb06;
$dark-green: #4ba406;
$light-green: #5fd305;
$light-blue: #eaf0fa;
$nice-blue: #5763b3;
$dark-blue: #4f5999;
$nice-red: #ff5f50;
$middle-gray: #e1e1e1;
$nice-gray: #b9b9b9;
$filter-gray: #f5f5f5;
$filter-hover: #ebebeb;
