@font-face {
  font-family: OpenSans;
  font-weight: 400;
  src: url(~@/common/fonts/OpenSans-400.woff2);
}

@font-face {
  font-family: OpenSans;
  font-weight: 600;
  src: url(~@/common/fonts/OpenSans-600.woff2);
}

@font-face {
  font-family: OpenSans;
  font-weight: 700;
  src: url(~@/common/fonts/OpenSans-700.woff2);
}
